.body{
    margin: 0;
    padding: 0;
}
.container{
    background-color: white;
    

}
.top{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    gap:0;
   
    
    
}
.quotes{
    
    border: 1px solid rgb(7, 7, 7);
    border-radius: 16px;
    color: white;
    background-color: rgb(52, 43, 43);
   
    width: 40%;
    height: 150px;
    font-size: 20px;
    font-weight: 200;
    word-spacing: 2px;
}
.top-right{
    width: 60%;
    border: 1px solid rgb(4, 4, 4);
    border-radius: 16px;
   
   

}
.bottom{
    background-color: red;
}
.middle{
    background-color: blue;
}