@font-face {
  font-family: Inter;
  src: url("social-links-profile-main/assets/fonts/static/Inter-Regular.ttf");
}
body {
  font-family: Inter;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  
}
.container {
  width: 25vw;
 
  padding-right: 30px;
  background-color: hsl(0, 0%, 12%);
  border-radius: 15px;
  margin: 50px auto;
  padding: 10px;
}
.profile-image {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-image img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}
.user-info {
  color: hsl(0, 0%, 100%);
  text-align: center;
}
.user-info h3 {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 0.5px;
}
.user-info #address {
  color: hsl(75, 94%, 57%);
  font-size: 12px;
  font-weight: 500;
}
.user-info #bio {
  line-height: 4;
  font-size: 0.75rem;
  text-align: center;
}
.media-links-items {
    list-style: none;
    

    
}
.media-links-items a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color:  hsl(0, 0%, 20%);
    border-radius: 5px;
    width: 100%;
    margin-left: -21px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 0.8rem;
    height: 40px;
    line-height: 3;

}
.media-links-items a:hover,
.media-links-items a:focus{
    background-color: hsl(75, 94%, 57%);
    color: black;
}
@media screen and (max-width: 767px){
    .container{
        padding: 1rem; /* 24px */
        width: 20.5rem; /* 328px width for mobile */
        
      
    }


    
}
.attribution{
    
    color: white;
    font-size: 23px;
    margin-bottom: 30px;
  
}
.attribution a:hover{
    color: darkgreen;
}